<html>
<head>
<style>
body {
  font-family: sans-serif;
}
table {
  border-collapse: collapse
}
th {
  color: white;
  background: darkgray;
}
th, td {
  border: 1px solid black;
  padding: 0.2em 0.5em;
  text-align: center;
}

.red-cell {
  color: red;
}
.blue-cell {
  color: blue;
}
.left-cell {
  text-align: left;
}
.right-cell {
  text-align: right;
}
.green-background-cell {
  background-color: lightgreen;
}
.bold-cell {
  font-weight: bold;
}

{{ utils.render_query_ex_classes() }}

{{ utils.paper_AX_sizes() }}
</style>
</head>
<body>
{{ body }}
</body>
</html>
