<html>
<head>
<style>
body {
  font-family: sans-serif;
}
table {
  border-collapse: collapse
}
th, td {
  border: 1px solid black;
  padding: 0.2em 0.5em;
  text-align: center;
}

.red-cell {
  color: red;
}
.left-cell {
  text-align: left;
}
.green-background-cell {
  background-color: lightgreen;
}

{{ configuration.utils.paper_AX_sizes() }}
</style>
</head>
<body>
{{ body }}
</body>
</html>
