<p>
Hello World!
</p>

{{
  configuration.utils.render_query(
      [ 'Column A', 'Column B' ],
      'SELECT _A, _B FROM _example_table'
    )
}}

<p>
More features: include.
</p>

{{ configuration.utils.include('_include', { "message": "Included message #1" }) }}
{{ configuration.utils.include('_include', { "message": "Included message #2" }) }}
{{ configuration.utils.include('_include') }}
