<h1>Introduction</h1>

<p>
Hello World!
</p>

<p>
Link to an anchor on this page. Specifically: <a href="#markdown">to the Markdown section below</a>.
</p>

<h2>Render a query easily.</h2>

{{
  utils.render_query(
      [
        "Order",
        { "name": "Column A", "classes": [ "red-cell" ] },
        "Column B",
        { "name": "Column C", "function": configuration.parameters['some_parameters_here']['green_background_cell_function'] },
        { "name": "Prefixed C", "classes": [ "left-cell" ] },
        { "name": "Fibonacci", "classes": [ "right-cell", "blue-cell" ], "header_classes": [ "right-cell", "blue-cell" ] },
        "Fibonacci index"
      ],
      'SELECT _order, COALESCE(_A, "Not informed"), COALESCE(_B, "Missing"), _C, prefix_it(_C), _Fibonacci, fibonacci_index(_Fibonacci) '
      'FROM _example_table '
      'ORDER BY _order'
    )
}}

<p>Without merging cells.</p>

{{
  utils.render_query(
      [
        "Order",
        { "name": "Column A", "classes": [ "red-cell" ] },
      ],
      'SELECT _order, COALESCE(_A, "Not informed") '
      'FROM _example_table '
      'ORDER BY _order',
      { "do_not_merge_rows": True }
    )
}}

<h2>And a Markdown section</h2>

<a name="markdown"/>
<markdown>
Example of some _Markdown_ contents.

> Some quoted text.
>
> More quoted text.

Trailing contents.

And a [link to Google](https://www.google.com).
</markdown>

<h1>Subdocuments</h1>

<p>Include a subdocument here.</p>

{{ utils.include_html('subdocument.html', { "h1_to_h": 2 }) }}

<h2>Include the subdocument again, but at a different depth</h2>

{{ utils.include_html('subdocument.html', { "h1_to_h": 3 }) }}

<h1>Other features</h1>

<h2>Different orientation pages</h2>

{{ utils.include_html('multiple_page_orientation.html', { "h1_to_h": 3 }) }}

<h2>Embed images</h2>

<p>
This image has been embedded in the HTML document.
</p>

<img src="{{ utils.static_base64('example.png', 'image/png') }}" style="width: 15em;"/>

<h2>Include raw templates</h2>

<p>
Include a document as raw (no HTML) processing
</p>

{{ utils.include('_include', { "message": "Included message #1" }) }}
{{ utils.include('_include', { "message": "Included message #2" }) }}
{{ utils.include('_include') }}

<h1>Another Markdown section</h1>

<markdown>
End **Markdown** section.

Another paragraph.

## Even a subsection

This is a _Markdown_ subsection.
</markdown>
